<div class="loader-overlay" *ngIf="active">
  <div class="loader-multi">
    <!-- Pelotas con degradados similares a los colores del login -->
    <div class="loader" style="--gradient: linear-gradient(135deg, #ffffff, #4f46e5); --delay:0s;"></div>
    <div class="loader" style="--gradient: linear-gradient(135deg, #ffffff, #726cac); --delay:0.15s;"></div>
    <div class="loader" style="--gradient: linear-gradient(135deg, #131313, #3b82f6); --delay:0.3s;"></div>
    <div class="loader" style="--gradient: linear-gradient(135deg, #7c3aed, #000000); --delay:0.45s;"></div>
  </div>
</div>
